.title-element1{
    font-size: 64px;
    color: #4D4D4D;
    line-height: 70px;
    margin: 0;
}

.title-element1-date{
    color: #4CAF4F;
    display: block;
}
/*i need to modify the margin for element 2 */
.title-element1-description {
    color: #717171;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 23px;
    
}
.title-description{
    color: #717171;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 40px;
}
.element1-block{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-block: 78px;
    background-color: #F5F7FA;
    padding-inline: 5%;
    margin-bottom: 40px;
}
.left-part-element1{
   
}
/*repeated the same thing as the registered button without the margin*/
.register-button-element1 ,.Learn-more-button {
    padding: 15px 34px;
    font-size: 16px;
    background-color:#4CAF4F ;
    border-radius: 0.2rem;
    border: none;
    color: #FFF ;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}

.element1-threedots{
    position: absolute;
    bottom: 13px;
    left: 48.9%;
    color: #4CAF4F;
}
.dots{
    margin-inline: 3px;

}
/* element2*/
.icones{
    object-fit: contain;
    width: 40px;
    height: 100%;
    align-self: center;
}

.element2-block,.element3-block{
    text-align: center;
    

}
.Clients-liste-element2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 75px;

}
 /* element 3*/
.categoryTemplate-element3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline:  60px;
    padding-block: 0px 40px;

}
.elements-template{
    align-items: center;
    justify-items: center;
    margin-inline:auto ;
    display: grid;
    grid-template-rows: 40px 60px 70px;
    height: auto;
    row-gap: 35px;
    width: 280px;
    padding: 24px 23px;
    border-radius: 6px;
    box-shadow: 0px 0.66773px 1.4px 0px rgba(171, 190, 209, 0.31);
}
.title-element3-category{
    margin: 0;
    font-family: inter;
    color: #4D4D4D;
    font-size: 34px;
   

}
.title-description-element3{
    color: #717171;
    font-size: 16.1px;
    margin-bottom: 30px;
    margin-top: 0;
}
.img-container-element3{
    object-fit: cover;
    width: 40px;
    position: relative;
}
.img-styling-element3{
    width: 60px;
    height: 60px;
    background-color: transparent;
}
.img-absolute-green{
    position: absolute;
    width: 52px;
    height: 52px;
    left: 16px;
    top: 13px;
    background-color: #E8F5E9;
    border-radius: 13px 3.48px 18px 3px;
    z-index: -1;
}


/* element4 */
.styling-img-element4{
    width: 560px;
    height: 100%;
}
.element4-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
    padding-left: 60px;
}
.text-container-element4{
    margin-inline: 110px;
}
.element4-title{
    color: #4D4D4D;
    font-weight: 600;
    line-height: 122%;
    max-width: 600px;
    
}
.description-element4{
    color: #717171;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 23px;
    max-width: 800px;
    
}
/* element5 */
.left-section-element5{
    display: inline-block;
}

.title-color-element5{
    color: #4D4D4D;
    line-height: 35px;
    margin: 0;
}
.title-color-secondpart{
 color:#4CAF4F ; 
 display: block; 
}

.title-description-element5{
    color: #18191F;
    margin-block: 7px;
}


.icons-structure-display-element5{
    display: grid;
    max-width: 400px;
    grid-template-columns: 1Fr 1fr;
    row-gap: 14px;
    column-gap: 50px;
}
.icon-number-element5{
    margin: 0;
}
.icon-description-element5{
    margin: 0;
    color: #717171;
    font-size: 18px;
}
.icon-propre-structure{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.element5-structure{
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 67px 20px;
    background-color: #F5F7FA;
    align-items: center;
}

.img-icon-element5{

}

.img-icon-element5{
    height: 40px;
    width: 40px;
}

/*element6*/
.element6-structure{
    display: flex;
    height: 329px;
    justify-content: space-evenly;
    align-items: top;
    padding: 30px 10px;
    background-color: #F5F7FA;
}
.right-part-structure-element6{
    width: 790px;
    margin-top: 6px;
    align-items: center;
}
.img-element6{
    width: fit-content;
    height: 350px;
}
.description-element6{
    margin: 0;
    color: #717171;


}
.author-element6{
    color: #4CAF4F;
    margin-block: 16px;
    
}
.association-element6{
    color:#89939E ;
    margin-bottom: 25px;
    margin-top: 0;
}
.icones-template-element6{
    display: flex;
    justify-content: space-between;
}

.button-styling-element6 ,.read-button-element7{
    color:#4CAF4F ;
    font-family: inter;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 7px 8px;
}

/* element7 */
.top-section-element7{
    text-align: center;
    
}

.title-description-element7{
    color: #717171;
}

.desc-category-element7{
    color: #717171;
    font-weight: 600;
    font-size: 19.5px;
}

.Image-category-element7{
    position: relative;
}
.categroy-template-element7{
    position: absolute;
    width: 280px; 
    text-align: center;  
    box-shadow: 0px 2.67093px 5.34186px 0px rgba(171, 190, 209, 0.40);
    border-radius: 0.25rem;
    padding: 14px 10px;
    background-color: #F5F7FA;
    bottom: -23%;
    left: 38.5px;
    font-size: 20px;
    
    
}

.bottom-section-element7{
    display: flex;
    justify-content: center;
    gap: 31px;
    margin-top: 20px;
   

}

.img-element7-styling{
    width: 380px;
    height: 100%;
}
.element7-structure{
    padding: 20px 10px;
}

/* element8 */
.element8-structure{
    display: block;
    text-align: center;
    margin-top: 180px;
    background-color: #F5F7FA;
    padding: 30px 10px;
}
.title-element8{
    margin-bottom: 30px;
    font-size: 64px;
}
.demo-button-element8{
    padding: 21px 38px;
    font-size: 18px;
    background-color:#4CAF4F ;
    border-radius: 0.3rem;
    border: none;
    color: #FFF ;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    margin-top: 10px;
}