.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 11.1px;
    padding-inline: 2.5% 3%;
    background-color: pink;
}

.navbar-buttons{
    padding: 9px 14px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}
.home-button{
    margin-right: 31px;
}
.register-button-navabar{
    padding: 13px 25px;
    font-size: 13px;
    background-color:#4CAF4F ;
    border-radius: 0.2rem;
    border: none;
    color: #FFF ;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
}