body{
    font-size: 16px;
    margin: 0;
}
*{
    font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
    transition: background-color 0.5s ,border 0.3s;
}
@media(max-width:786px) {
    

.Main{
  width: 205%;  

}
.footer-structure{
    width: 210%;
}

}
/* for mobile view*/